/* styles.css 
   Project: 
   Author: 
   Date: 
*/

/*google font*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400&display=swap');

/*main css*/


* {
   box-sizing: border-box;
}

img {
   width: 100%;
   display: block;
}

body {
   background-color: #EB54BA;
   font-family: 'Lato', sans-serif;
   /*font-family: 'Montserrat', sans-serif;*/
}



.staffoc img{
   width: 150px;
   height: 150px;
   max-width: 600px;
   image-rendering: pixelated;
   margin: 200px auto;
   margin-top: -270px;
   margin-bottom:-50px;
}

.storebg img{
   max-width: 1000px;
   margin: 20px auto;
   padding-top: 20px;
}




/*media query for responsive design */

@media only screen and (max-width: 640px) {


}











