/* styles.css 
   Project: 
   Author: 
   Date: 
*/

/*google font*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400&display=swap');

/*main css*/


* {
   box-sizing: border-box;
}

img {
   width: 100%;
   display: block;
}

body {
   background-color: #EB54BA;
   font-family: 'Lato', sans-serif;
   /*font-family: 'Montserrat', sans-serif;*/
}


.batterbutton img {
   max-width: 1000px;
   margin: 20px auto;
   padding-top: 20px;

}

.bakestation {
   position: relative;
   padding: 10px;
   border-radius: 16px;
   border-color: deeppink;
   margin-left: 650px;
   scale: 1.6;
   top: -60px;
   color: palevioletred;
}

.decorstation {
   position: relative;
   padding: 10px;
   border-radius: 16px;
   border-color: deeppink;
   margin-left: 760px;
   scale: 1.6;
   top: -105px;
   color: palevioletred;
}

.fillbutton {
   position: relative;
   padding: 10px;
   border-radius: 16px;
   border-color: deeppink;
   margin-left: 845px;
   scale: 1.6;
   top: -480px;
   color: palevioletred;
}

.cupcakefilledup img{
   max-width: 1000px;
   margin: 20px auto;
   padding-top: 20px;
   display: none;
}


/*media query for responsive design */

@media only screen and (max-width: 640px) {


}











