/* styles.css 
   Project: 
   Author: 
   Date: 
*/

/*google font*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400&display=swap');

/*main css*/


* {
   box-sizing: border-box;
}

img {
   width: 100%;
   display: block;
}

body {
   background-color: #EB54BA;
   font-family: 'Lato', sans-serif;
   /*font-family: 'Montserrat', sans-serif;*/
}

.serve {
   max-width: 1000px;
   margin: 20px auto;
   padding-top: 20px;
}

.staffocbehind img{
   width: 330px;
   height: 400px;
   max-width: 600px;
   image-rendering: pixelated;
   margin: 200px auto;
   margin-left: 360px;
   margin-top: -370px;
   margin-bottom:-50px;
}

.customer1counter img{
   width: 270px;
   height: 300px;
   max-width: 600px;
   image-rendering: pixelated;
   margin: 200px auto;
   margin-left: 610px;
   margin-top: -468px;
   margin-bottom:-50px;
}

.servebutton {
   position: relative;
   top: -80px;
   margin-left: 970px;
   scale: 1.3;
   color: palevioletred;
   padding: 10px;
   border-radius: 16px;
   border-color: pink;
}

.complete {
   font-family: bold;
   background-color: lightpink;
   border-radius: 16px;
   font-size: 25px;
   text-align: center;
   color: white;
   /*padding: 5px;*/
   position: absolute;
   bottom: 520px;
   left: 30%;
   width:40%;
   display: none;
}

.redo {
   position: relative;
   top: -260px;
   margin-left: 48.3%;
   scale: 1.3;
   color: palevioletred;
   padding: 10px;
   border-radius: 16px;
   border-color: pink;
   display: none;
}


*/
/*media query for responsive design */

@media only screen and (max-width: 640px) {


}











